*{
    --Clor-black: #000;
    --Clor-white: #fff;
    --Clor-lightBlack: #444;
    --Clor-darkWhite: #e5e5e5;
}
#banner{
    min-height: 65vh;
  }
#banner .banner-contents .para span{
    font-size: clamp(1.25rem, -0.179rem + 7.143vw, 11.25rem);
}
/* team */
#team{
    padding-bottom: 7vw;
    & > .container > .row > .headers{
        margin: 3vw 0;
        & > h4{
            font-size: 2.5vw;
            font-weight: 700;
            letter-spacing: .1rem;
        }
    }
}
#team .ftm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 2;
}
#team .team-contents{
    margin: 0 5% 3vw 0;
    padding: 3vw;
    border-radius: 15px;
    & > h4{
        margin-top: 2vw;
        font-size: clamp(1rem, 0.429rem + 0.982vw, 2rem);
        font-weight: 700;
        padding-bottom: .5vw;
        border-bottom: 1px solid var(--Clor-lightBlack);
    }
    & > .title{
        font-size: 1.4vw;
        font-weight: 600;
        margin: 1vw 0;
    }
}
#team .team-contents .img{
    display: flex;
    align-items: center;
    justify-content: center;
    & > img{
        border: 5px solid var(--Clor-darkWhite);
        padding: .3vw;
        width: 85%;
        border-radius: 100%;
        height: auto;
        transition: .5s ease;
        &:hover{
            border: 4px solid var(--Clor-lightBlack);
        }
    }
}

#team .team-contents .social ul{
    padding: 0;
    margin: 1.5vw 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & > li > a{
        font-size: 2vw;
        transition: .5s ease;
        &:hover{
            color: var(--Clor-black);
        }
        
    }
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    & > .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: var(--Clor-darkWhite);
        color: var(--Clor-lightBlack);
        text-decoration: none;
        transition: all 0.3s ease;
        font-size: 1.5vw;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(0,0,0,0.1), transparent);
            transition: left 0.5s ease;
        }
    }
}
.social-link:hover::before {
    left: 100%;
}
.social-link:hover {
    transform: translateY(-3px);
    color: var(--Clor-white);
    background-color: var(--Clor-lightBlack);
}
/* team */
/* responsiveness */
@media (max-width: 430px){
    #team .container .row .headers{
        & > h4{
            font-size: 4vw;
        }
        & > .testimonials-gap > span{
            font-size: 3vw;
        }
    }
    #team .team-contents{
        margin: 0 0 10vw 0;
        padding: 5vw;
        border-radius: 7px;
        & > h4{
            margin: 4vw 0;
        }
        & > .title{
            font-size: 4.5vw;
            margin: 4vw 0;
        }
    }
    #team .team-contents .img img{
        width: 55%;
        padding: 1.5vw;
    }
    #team .team-contents .social-links{
        margin-bottom: 4vw;
        & > .social-link{
            width: 10vw;
            height: 10vw;
            font-size: 4.5vw;
        }
    }
}
/* responsiveness */